@import "~bulma/sass/utilities/_all.sass"

@import "~bulma/sass/grid/tiles.sass"

@import "~bulma/sass/elements/button.sass"
@import "~bulma/sass/elements/box.sass"
@import "~bulma/sass/elements/content.sass"
@import "~bulma/sass/elements/image.sass"
@import "~bulma/sass/elements/tag.sass"
@import "~bulma/sass/elements/title.sass"

@import "~bulma/sass/components/media.sass"
@import "~bulma/sass/components/card.sass"
@import "~bulma/sass/components/message.sass"

.pointer
  cursor: pointer

a
  color: $link
  cursor: pointer
  text-decoration: none
  transition: none $speed $easing
  &:hover
    color: $link-hover

code
  background-color: $code-background
  color: $code
  font-size: 0.8em
  font-weight: normal
  padding: 0.25em 0.5em 0.25em
